[submodule "llguidance"]
	path = llguidance
	url = https://github.com/microsoft/llguidance
	branch = main
[submodule "derivre"]
	path = derivre
	url = https://github.com/microsoft/derivre
	branch = main
[submodule "guidance"]
	path = guidance
	url = https://github.com/guidance-ai/guidance
	branch = main
[submodule "json_stats"]
	path = json_stats
	url = https://github.com/mmoskal/json_stats
